<div class="flex justify-center items-center flex-col mt-10">
  <h1 class="text-5xl">ようこそ！</h1>
  <p class="text-3xl pt-5">ログインしていない場合はここがホームページです。</p>

  <%= link_to "ログイン", new_user_session_path, class: "pt-5 text-3xl hover:text-blue-500" %>
